body{
    font: 100% Helvetica, sans-serif;
    margin: 5px;
    line-height: 26px;
    color: #212121;
}

.wrapper{
    position: relative;
    overflow: auto;
}

#top, #sidebar, #bottom, .menuitem{
    border-radius: 4px;
    margin: 4px;
}

#top{
    background-color: #424242;
    color: #ffffff;
    padding: 15px;
    height: 120px;
    display: flex;
    align-items: center;
    gap: 20px;
}

#top p{
    font-size: 32px;
    font-weight: 100;
}

#logo{
    float: left;
    width: 120px;
    margin-right: 10px;
}

#menubar{
    width: 200px;
    float: left;
}

#main{
    padding: 5px 10px 10px 10px;
    margin: 0 272px 0 195px;
}

#main table{
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

#main th{
    background-color: #757575;
    color: white;
    font-weight: bold;
}

#main td, #main th{
    padding: 6px;
    border: 1px solid #9b9b9b;
    text-align: left;
    word-break: break-word;
}

#main tr:nth-child(odd){
    background-color: #eeeeee;
}

#sidebar{
    background-color: #f1f1f1;
    border: 1px solid #909090;
    padding: 10px;
    width: 250px;
    top: 0;
    right: 0px;
    position: absolute;
}

input[type=text], input[type=date], input[type=number], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 10px;
    height: 32px;
}

select{
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input.btn{
    background-color: #404040;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px;
    cursor: pointer;
    text-transform: uppercase;
    min-width: 100px;
    float: right;
}

#bottom{
    border: 1px solid #d4d4d4;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    font-size: 100%;
    line-height: 24px;
}

#top h1, #top p, #menulist{
    margin: 0;
    padding: 0;
}

.menuitem{
    background-color: #f1f1f1;
    border: 1px solid #909090;
    list-style-type: none;
    padding: 6px;
    cursor: pointer;
}

.menuitem:hover{
    background-color: white;
}

.menuitem.active{
    background-color: #616161;
    color: white;
    font-weight: bold;
}

.menuitem i.fa{
    margin-right: 10px;
}

input.invalid:focus, select.invalid:focus{
    outline: 0;
    box-shadow: 0 0 0 0.2em rgba(220, 53, 69, .25);
    margin-bottom: 0;
}

.invalid-feedback{
    width: 100%;
    font-size: 80%;
    color: #dc3545;
    margin-bottom: 10px;
}

tr:hover > td, tr.selected > td{
    background-color: #999;
    cursor: pointer;
    color: #fcfcfc;
    border: 1px solid #fcfcfc;
}

#mainHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#mainHeader > div > input:nth-child(1){
    width: auto;
    margin: 4px;
}

#toolbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#toolbar > div > input[type=text]{
    width: 256px;
}

#toolbar > div > input[type=button]{
    width: auto;
    margin: auto 4px;
    margin-bottom: 20px;
}

